.menu {
     display: flex;
     justify-content: space-between;
     height: 50px;
    
 }
 
 .home {
     background-color: red;
     height: 100%;
 }
 
 .about_us {
     background-color: green;
     height: 100%;
 }